.Ve_yk4 {
    border: 0;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute!important;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    white-space: nowrap
}

.nYUOjB {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px
}

.DHXY0y {
    background-color: initial;
    border: 0;
    cursor: pointer;
    overflow: visible;
    padding: 4px;
    position: absolute;
    right: 12px;
    top: 20px
}

.DHXY0y:active {
    opacity: .7
}

.ox8XHU {
    right: 25px;
    top: 25px
}

.CZrqoy {
    stroke: #757575;
    height: 16px;
    width: 16px
}

.VsiRL6 {
    left: 50%;
    padding: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%
}

.JXv8kt {
    padding: 0 25px
}

.JXv8kt,.ouxbcZ {
    text-align: center
}

.ouxbcZ {
    color: rgba(0,0,0,.65);
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 0
}

.TIrW3J {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin: 8px 0 16px;
    text-align: center
}

.C9FJYz {
    background-color: #1b92f5;
    border-radius: 4px
}

.AE8XzS {
    background-color: #ee4d2d;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 2.625rem;
    line-height: 1.2;
    min-width: 4rem;
    outline: none;
    padding: 0;
    padding: 0 1rem;
    text-transform: capitalize
}

.AE8XzS:not(.syWHai):active {
    background-color: #e2492b
}

.syWHai {
    cursor: not-allowed;
    opacity: .7
}

.n_2oci {
    text-transform: uppercase
}

.IVzjG7 {
    width: 100%
}

.rsuJIT {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%
}

.un7rP_ {
    margin: 24px
}

.yNESmB {
    margin-top: 24px
}

.F59he4 {
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.09);
    box-sizing: border-box;
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
    width: 100%
}

.YIB4eH {
    display: none
}

.sgAgo4 {
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin: 0
}

.rDAvww,.wTvGCL {
    height: 24px
}

.wTvGCL {
    background-color: initial;
    border: 0;
    color: rgba(0,0,0,.65);
    padding: 0;
    width: 24px
}

.wTvGCL:active,.wTvGCL:hover {
    opacity: .8
}

.wTvGCL:disabled {
    cursor: not-allowed
}

.tvrf3Y {
    margin-left: 12px
}

.LX8AxS {
    height: 24px;
    width: 24px
}

.cZROZe {
    width: 280px
}

.C9IFjM {
    height: 150px;
    margin-bottom: 8px;
    width: 100%
}

.OC5R47 {
    height: 48px;
    width: 100%
}

.vIzcfl {
    align-items: center;
    box-sizing: border-box;
    color: rgba(0,0,0,.54);
    display: flex;
    height: 24px;
    justify-content: space-between;
    position: relative;
    width: 100%
}

.w3GjG1 {
    cursor: pointer;
    font-size: 10px;
    line-height: 12px;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.WKyiqx,.kyuBLI {
    height: 24px
}

.kyuBLI {
    background-color: initial;
    border: 0;
    padding: 0;
    width: 24px
}

.kyuBLI:active,.kyuBLI:hover {
    opacity: .8
}

.kyuBLI:disabled {
    cursor: not-allowed
}

.T7VEFP {
    margin-left: 12px
}

.vu0G1F {
    height: 24px;
    width: 24px
}

.eAQLbx {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%
}

.fEhLTJ {
    margin: 24px
}

.UiW3SQ {
    margin-bottom: 24px
}

.i4qxZS,.mNAZc_ {
    align-items: center;
    display: flex;
    justify-content: center
}

.hyNslE {
    position: relative
}

._Z4lNC {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.yzZsuU {
    background-color: rgba(0,0,0,.09)
}

.pTwp_K {
    opacity: 0
}

.fNrnFS {
    transition: opacity .3s
}

.dE5v3w,.fNrnFS {
    opacity: 1
}

.eGHXun {
    opacity: 0;
    transition: opacity .3s
}

.B69Fh3 {
    left: 0;
    top: 0;
    will-change: transform
}

.B69Fh3,.JJE_cy {
    position: absolute
}

.JJE_cy {
    touch-action: none
}

.ws_h_g {
    background-color: rgba(0,0,0,.09);
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    margin-top: 8px;
    padding: 4px
}

.GMaG2r,.ws_h_g {
    position: relative
}

.mNAZc_ {
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    cursor: default;
    font-size: 12px;
    left: 45px;
    padding: 0 12px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 230px
}

.EuFEpx,.mNAZc_ {
    height: 100%;
    position: absolute;
    top: 0
}

.EuFEpx {
    left: 0;
    opacity: .3;
    transform-origin: left center
}

.EuFEpx,.i4qxZS {
    will-change: transform
}

.i4qxZS {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    cursor: pointer;
    position: relative;
    touch-action: none
}

.Rfbivh {
    background-color: #ee4d2d
}

.CGHOUF {
    background-color: #1b92f5
}

.hNjG0b {
    background-color: #26aa99
}

.K24rKT {
    background-color: #16c42a
}

.h4DXlY {
    background-color: #ee2c4a
}

.JMQ8zQ {
    cursor: not-allowed
}

.IeFbGo {
    transition: transform .3s ease;
    transition-delay: .35s
}

@keyframes VkzJbh {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(40px)
    }
}

@keyframes r3hYlR {
    0% {
        left: 0
    }

    to {
        left: 40px
    }
}

@keyframes lKwl6z {
    0% {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(1.90909)
    }
}

@keyframes ym35eX {
    0% {
        width: 44px
    }

    to {
        width: 84px
    }
}

.zFYZGT {
    animation: VkzJbh .5s ease 4 alternate
}

.r4AMdj {
    animation: r3hYlR .5s ease 4 alternate
}

.LKIJI3 {
    animation: lKwl6z .5s ease 4 alternate;
    width: 44px
}

.StdChb {
    animation: ym35eX .5s ease 4 alternate;
    width: 44px
}

.kbtSeO {
    display: none
}

.A1SypE {
    align-items: center;
    display: flex;
    justify-content: center
}

@keyframes ww2AS6 {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    67% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(40px)
    }
}

@keyframes E1S3XS {
    0% {
        left: 8px;
        opacity: 1
    }

    67% {
        left: 8px;
        opacity: 1
    }

    to {
        left: 40px;
        opacity: 0
    }
}

@keyframes oGGUIA {
    0% {
        opacity: 1;
        transform: translateX(-40px)
    }

    67% {
        opacity: 1;
        transform: translateX(-40px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes t3AIE8 {
    0% {
        left: -24px;
        opacity: 1
    }

    67% {
        left: -24px;
        opacity: 1
    }

    to {
        left: 8px;
        opacity: 1
    }
}

.IAMWgT {
    display: none
}

.A1SypE {
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px
}

.dc62YA {
    animation: ww2AS6 1.2s linear infinite
}

.Y72B6z,.dc62YA {
    left: 8px;
    position: absolute;
    top: 8px
}

.Y72B6z {
    animation: E1S3XS 1.2s linear infinite
}

.VzcYzI {
    animation: oGGUIA 1.2s linear infinite
}

.VzcYzI,.gnOmjd {
    left: 8px;
    position: absolute;
    top: 8px
}

.gnOmjd {
    animation: t3AIE8 1.2s linear infinite
}

.__ereq {
    height: 24px;
    width: 24px
}

.VKSeJ4 {
    bottom: -16px;
    left: -12px;
    position: absolute
}

.IAMWgT {
    display: hidden
}

.oG1njJ,.vqYgcj {
    display: flex
}

.vqYgcj {
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: .75rem .9375rem
}

.hT2Z5T {
    box-shadow: 0 1px 0 rgba(0,0,0,.1)
}

.oG1njJ {
    margin-right: .625rem;
    width: 1rem
}

.x5puJ_ {
    height: 1rem;
    width: 1rem
}

.rim89y {
    color: #222;
    font-size: .875rem
}

.rim89y:first-letter {
    text-transform: capitalize
}

.n6Zb9T {
    color: #929292;
    font-size: .75rem;
    line-height: .875rem;
    margin-top: .3125rem
}

.Oh2Ugi {
    background-color: #fff9fa;
    border: 1px solid rgba(255,66,79,.2)
}

.ngCU8L {
    color: #ff424f;
    height: 1rem;
    width: 1rem
}

.uS6qHJ {
    background-color: #f9fcff;
    border: 1px solid #cbe4f4
}

.kuGc60 {
    color: #06c;
    height: 1rem;
    width: 1rem
}

.KU7Img {
    background-color: #fffefa;
    border: 1px solid rgba(224,168,0,.4)
}

.tESO_X {
    color: #ffbf00;
    height: 1rem;
    width: 1rem
}

.K1dMAX {
    background-color: #fcfffa;
    border: 1px solid rgba(87,172,3,.3)
}

.jgJMHk {
    color: #6c0;
    height: 1rem;
    width: 1rem
}

.aDNrsO {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%
}

.H3C2LY {
    margin-bottom: 1.5625rem;
    max-width: 17.5rem;
    width: 100%
}

.jGKYg3 {
    margin: 1.5rem
}

.uirbVq {
    margin-bottom: 24px
}

.rsvUQe {
    height: 6.5rem;
    width: 17.5rem
}

.OcXeVJ {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%
}

.r03hL4 {
    position: relative
}

.vWfHSJ {
    height: 5.875rem;
    width: 15.6875rem
}

.Hz_6EA {
    opacity: 0
}

.bBT4m0 {
    transition: opacity .3s
}

.bBT4m0,.q8bH_9 {
    opacity: 1
}

.lWlPq7 {
    opacity: 0;
    transition: opacity .3s
}

.XYPFFH,.vlqz6j {
    background-color: #fff;
    height: 100%;
    position: absolute;
    width: 100%
}

.OM5_K4,.UD2VOT {
    border-radius: 2px;
    margin-top: .75rem;
    width: 100%
}

.UD2VOT {
    margin-bottom: .75rem
}

.OM5_K4 {
    margin-bottom: .5rem
}

.NrfN8z {
    align-items: center
}

.E7oUKz,.NrfN8z {
    display: flex
}

.E7oUKz {
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    box-sizing: border-box;
    height: 2.25rem;
    overflow: hidden;
    width: 100%
}

.JdwZgi {
    border-color: #ff424f
}

.EcyfDo,.JdwZgi {
    box-shadow: 0 0 4px rgba(0,0,0,.14)
}

.EcyfDo {
    border-color: rgba(0,0,0,.54)
}

.iv86vx {
    border: 0;
    filter: none;
    flex: 1;
    flex-shrink: 0;
    outline: none;
    padding: .75rem
}

.iv86vx::placeholder {
    color: rgba(0,0,0,.26);
    padding-left: .1875rem
}

.iv86vx:-webkit-autofill,.iv86vx:-webkit-autofill:focus,.iv86vx:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 20px #fff;
    -webkit-box-shadow: inset 0 0 0 20px #fff
}

.iv86vx::-ms-clear {
    display: none
}

.T5pSvm {
    background: #fff6f7
}

.T5pSvm:-webkit-autofill,.T5pSvm:-webkit-autofill:focus,.T5pSvm:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 20px #fff6f7;
    -webkit-box-shadow: inset 0 0 0 20px #fff6f7
}

.arE0XR {
    color: #ff424f;
    font-size: .75rem;
    margin: 0;
    min-height: 1rem;
    padding: .25rem 0 0
}

.arE0XR:first-letter {
    text-transform: capitalize
}

.NrfN8z {
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 .9375rem 0 .75rem
}

.s0GS95 {
    background: #fff6f7
}

.ii1qsY {
    height: .75rem;
    width: 1.25rem
}

.Ts6ib8 {
    height: .625rem;
    padding-top: .375rem;
    width: 1.25rem
}

.IBtGVz {
    height: 1rem;
    width: 1rem
}

.o4YhfK {
    background-color: #ee4d2d;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 2.625rem;
    line-height: 1.2;
    min-width: 4rem;
    outline: none;
    padding: 0;
    padding: 0 1rem;
    text-transform: capitalize
}

.o4YhfK:not(.uGorke):active {
    background-color: #e2492b
}

.uGorke {
    cursor: not-allowed;
    opacity: .7
}

.NXC8CS {
    text-transform: uppercase
}

.tWW9b7 {
    width: 100%
}

.eLae10 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    width: 100%
}

.K7cjKN {
    margin: 24px
}

.cRCHJ9 {
    margin-bottom: 24px;
    width: 280px
}

.BpOlgz {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%
}

.b7D0Nm {
    height: 16px;
    margin-bottom: 28px
}

.T5hOW4,.VWxG0Q {
    border-radius: 2px;
    margin-top: 36px;
    width: 100%
}

.T5hOW4 {
    margin-bottom: 12px
}

.VWxG0Q {
    margin-bottom: 8px
}

.SJy7Vc {
    align-items: center
}

.SJy7Vc,.oqf6ag {
    display: flex
}

.SJy7Vc {
    background-color: #ee4d2d;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(0,0,0,.12);
    justify-content: center;
    margin-right: 12px
}

.SJy7Vc:hover {
    opacity: .9
}

.SJy7Vc:active {
    opacity: 1
}

.sYiW4Z {
    height: 36px;
    width: 36px
}

.OStcG5 {
    height: 32px;
    width: 32px
}

.rEt_Gt {
    height: 15px;
    width: 12px
}

.LJkacs {
    height: 12px;
    width: 10px
}

.Kh2AI4 {
    height: 20px;
    width: 20px
}

.qINhJU {
    height: 17px;
    width: 16px
}

.oj_8vO {
    overflow: hidden;
    position: relative
}

.lFP1PO {
    height: 36px;
    width: 188px
}

.qdFscm {
    height: 32px;
    width: 170px
}

.gywp61 {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.HpEFeG,.gywp61 {
    position: absolute
}

.HpEFeG {
    bottom: 1px;
    left: 1px;
    overflow: hidden;
    right: 1px;
    top: 1px
}

.ZkL_sl {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.SnkiU7 {
    background-color: rgba(0,0,0,.09)
}

.j1VLGa {
    background-color: #ee4d2d;
    transform: translateX(-100%)
}

.L6yiF4 {
    display: none
}

.malH_7,.y5tiGh {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.y5tiGh {
    background-color: rgba(0,0,0,.4)
}

.malH_7 {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9000
}

.dzytXW {
    z-index: 1
}

.qzZNEn {
    opacity: 0
}

.Ts6dj3 {
    transition: opacity .15s
}

.Ts6dj3,.WWOQKo {
    opacity: 1
}

.pjeK1H {
    opacity: 0;
    transition: opacity .15s
}

.WFLahT {
    transform: scale(.8)
}

.V9sAOv {
    transition: transform .2s
}

.Lenn1O,.V9sAOv {
    transform: scale(1)
}

.dl2omI {
    transform: scale(.8);
    transition: transform .2s
}

.kFqAjO {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 328px
}

.Iuj7Zq,.kFqAjO {
    align-items: center
}

.Iuj7Zq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px
}

.liPRty {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 20px;
    stroke: #757575;
    height: 16px;
    overflow: visible;
    padding: 4px;
    width: 16px
}

.liPRty:active {
    opacity: .7
}

.cENPHZ {
    right: 25px;
    top: 25px
}

.wn35gd {
    left: 50%;
    padding: 15px;
    position: absolute;
    transform: translateX(-50%);
    width: 100%
}

.WDSJDb {
    padding: 0 25px
}

.WDSJDb,.rLBSLL {
    text-align: center
}

.rLBSLL {
    color: rgba(0,0,0,.65);
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px
}

.LCcW2d {
    color: rgba(0,0,0,.54);
    font-size: 14px;
    margin: 8px 0 16px;
    text-align: center
}

.x_4uM9 {
    background-color: #1b92f5;
    border-radius: 4px
}

.uX7ogQ {
    background-color: #ee4d2d;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    height: 2.625rem;
    line-height: 1.2;
    min-width: 4rem;
    outline: none;
    padding: 0;
    padding: 0 1rem;
    text-transform: capitalize
}

.uX7ogQ:not(._YG6OO):active {
    background-color: #e2492b
}

._YG6OO {
    background-color: rgba(0,0,0,.09);
    color: rgba(0,0,0,.26)
}

.GkB2hv {
    text-transform: uppercase
}

._202KRS {
    width: 100%
}

.yVR7hX {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 30px
}

.oVmkX6 {
    height: 24px;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.YObfX2 {
    color: #222;
    font-size: 20px;
    text-align: center;
    width: 100%
}

.f8V03b {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 16px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4px;
    width: 16px
}

.Jft60M {
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    margin-top: 15px
}

.s3XL3E,.wkJg0o {
    align-items: center;
    display: flex;
    justify-content: center
}

.XHqusT {
    position: relative
}

.iovYW5 {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.BB8aGu {
    background-color: rgba(0,0,0,.09)
}

.DtkVMl {
    opacity: 0
}

.oaAkYl {
    transition: opacity .3s
}

.DaD7_4,.oaAkYl {
    opacity: 1
}

.Th2NNY {
    opacity: 0;
    transition: opacity .3s
}

.CJ0zhy {
    left: 0;
    top: 0;
    will-change: transform
}

.CJ0zhy,.hax1AF {
    position: absolute
}

.hax1AF {
    touch-action: none
}

.ivv_bi {
    background-color: rgba(0,0,0,.09);
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    margin-top: 12px;
    padding: 4px
}

.e0IEJN,.ivv_bi {
    position: relative
}

.s3XL3E {
    box-sizing: border-box;
    color: rgba(0,0,0,.65);
    cursor: default;
    font-size: 12px;
    left: 45px;
    padding: 0 12px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 230px
}

.Y_iebA,.s3XL3E {
    height: 100%;
    position: absolute;
    top: 0
}

.Y_iebA {
    left: 0;
    opacity: .3;
    transform-origin: left center
}

.Y_iebA,.wkJg0o {
    will-change: transform
}

.wkJg0o {
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    cursor: pointer;
    position: relative;
    touch-action: none
}

.xn003P {
    background-color: #ee4d2d
}

.w_VMri {
    background-color: #1b92f5
}

.oY3gwR {
    background-color: #26aa99
}

.C2uB4Q {
    background-color: #16c42a
}

.of0kPD {
    background-color: #ee2c4a
}

.xBToGI {
    cursor: not-allowed
}

.gk3yFm {
    transition: transform .3s ease;
    transition-delay: .35s
}

@keyframes REIQEJ {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(40px)
    }
}

@keyframes WJ4GXr {
    0% {
        left: 0
    }

    to {
        left: 40px
    }
}

@keyframes CivxYu {
    0% {
        transform: scaleX(1)
    }

    to {
        transform: scaleX(1.90909)
    }
}

@keyframes DzpU5S {
    0% {
        width: 44px
    }

    to {
        width: 84px
    }
}

.wSxrWj {
    animation: REIQEJ .5s ease 4 alternate
}

.AZC0Mv {
    animation: WJ4GXr .5s ease 4 alternate
}

.jrG3kT {
    animation: CivxYu .5s ease 4 alternate;
    width: 44px
}

.FzAn9C {
    animation: DzpU5S .5s ease 4 alternate;
    width: 44px
}

.YSXMnh {
    display: none
}

.xeR1uV {
    align-items: center;
    display: flex;
    justify-content: center
}

@keyframes b5PcsE {
    0% {
        opacity: 1;
        transform: translateX(0)
    }

    67% {
        opacity: 1;
        transform: translateX(0)
    }

    to {
        opacity: 0;
        transform: translateX(40px)
    }
}

@keyframes HLHl9I {
    0% {
        left: 8px;
        opacity: 1
    }

    67% {
        left: 8px;
        opacity: 1
    }

    to {
        left: 40px;
        opacity: 0
    }
}

@keyframes VrPWmN {
    0% {
        opacity: 1;
        transform: translateX(-40px)
    }

    67% {
        opacity: 1;
        transform: translateX(-40px)
    }

    to {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes NQ6ox7 {
    0% {
        left: -24px;
        opacity: 1
    }

    67% {
        left: -24px;
        opacity: 1
    }

    to {
        left: 8px;
        opacity: 1
    }
}

.cyg5En {
    display: none
}

.xeR1uV {
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 40px
}

.r8AyjF {
    animation: b5PcsE 1.2s linear infinite
}

.Rc8_59,.r8AyjF {
    left: 8px;
    position: absolute;
    top: 8px
}

.Rc8_59 {
    animation: HLHl9I 1.2s linear infinite
}

.pFbtQU {
    animation: VrPWmN 1.2s linear infinite
}

.pFbtQU,.uFK9AB {
    left: 8px;
    position: absolute;
    top: 8px
}

.uFK9AB {
    animation: NQ6ox7 1.2s linear infinite
}

.zAvXyV {
    height: 24px;
    width: 24px
}

.UPntJm {
    bottom: -16px;
    left: -12px;
    position: absolute
}

.cyg5En {
    display: hidden
}

.Aru4RW,.e_eOMJ {
    display: flex
}

.e_eOMJ {
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: .75rem .9375rem
}

.ZdKbNT {
    box-shadow: 0 1px 0 rgba(0,0,0,.1)
}

.Aru4RW {
    margin-right: .625rem;
    width: 1rem
}

.yNnKlU {
    height: 1rem;
    width: 1rem
}

.cX9LiV {
    color: #222;
    font-size: .875rem
}

.cX9LiV:first-letter {
    text-transform: capitalize
}

.jXOeoQ {
    color: #929292;
    font-size: .75rem;
    line-height: .875rem;
    margin-top: .3125rem
}

.OOOXz_ {
    background-color: #fff9fa;
    border: 1px solid rgba(255,66,79,.2)
}

.LxuEz7 {
    color: #ff424f;
    height: 1rem;
    width: 1rem
}

.IIkSGg {
    background-color: #f9fcff;
    border: 1px solid #cbe4f4
}

.SZtvOq {
    color: #06c;
    height: 1rem;
    width: 1rem
}

.BjTihK {
    background-color: #fffefa;
    border: 1px solid rgba(224,168,0,.4)
}

.dE9A1i {
    color: #ffbf00;
    height: 1rem;
    width: 1rem
}

.UndXZ9 {
    background-color: #fcfffa;
    border: 1px solid rgba(87,172,3,.3)
}

.ufnWma {
    color: #6c0;
    height: 1rem;
    width: 1rem
}

.UqDlZP {
    align-items: center
}

.UqDlZP,.qicowS {
    display: flex
}

.UqDlZP {
    flex-direction: column;
    justify-content: flex-start
}

.qicowS {
    justify-content: space-around
}

.Y07qR2 {
    animation: glow 2s linear infinite;
    background-clip: padding-box;
    background-color: #fafafa;
    border-color: #fafafa;
    border-radius: 2px;
    box-shadow: none;
    color: transparent;
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@keyframes glow {
    0%,to {
        background-color: #fafafa;
        border-color: #fafafa
    }

    50% {
        background-color: #f5f5f5;
        border-color: #f5f5f5
    }
}

.w00Xgt {
    width: 100%
}

.UqDlZP {
    margin: 0 30px
}

.LDUZNc {
    height: 24px;
    margin-bottom: 24px;
    position: relative;
    width: 100%
}

.yLHFGf {
    color: #222;
    font-size: 20px;
    text-align: center;
    width: 100%
}

.mEBn4N {
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 16px;
    outline: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 4px;
    width: 16px
}

.w85Cb9 {
    margin-bottom: 1.5625rem;
    max-width: 18.75rem;
    width: 100%
}

.KwLsQx {
    position: relative
}

.KwLsQx,.Sz6hpi {
    height: 4.625rem;
    width: 12.3125rem
}

.Sz6hpi {
    border: 0;
    position: absolute
}

.FuneLT {
    background-color: #fff;
    cursor: pointer
}

.lmuAaR {
    opacity: 0
}

.lwBliZ {
    transition: opacity .3s
}

.fuYD4c,.lwBliZ {
    opacity: 1
}

.cGNE8U {
    opacity: 0;
    transition: opacity .3s
}

.SZ2tm3 {
    cursor: pointer;
    line-height: 1.25rem;
    margin-top: .75rem
}

.bt4a5Q {
    border-radius: 2px;
    margin: 1.25rem 0
}

.bt4a5Q,.qicowS {
    width: 100%
}

.Zx7gB4,.q7IPky {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    flex: 0 1 50%;
    font-size: 1rem;
    height: 2.5rem;
    outline: none;
    text-transform: capitalize;
    width: 100%
}

.Zx7gB4:not(:first-of-type),.q7IPky:not(:first-of-type) {
    margin-left: 0
}

.m02n1h {
    flex: 0 1 100%
}

.Zx7gB4 {
    background-color: #ee4d2d;
    color: #fff
}

.XLvIA8 {
    align-items: center
}

.XLvIA8,.eCIQJW {
    display: flex
}

.eCIQJW {
    border: 1px solid rgba(0,0,0,.14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0,0,0,.02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%
}

.How61I {
    border-color: #ff424f
}

.How61I,.YBwQ9i {
    box-shadow: 0 0 4px rgba(0,0,0,.14)
}

.YBwQ9i {
    border-color: rgba(0,0,0,.54)
}

.k9ZCe1 {
    border: 0;
    filter: none;
    flex: 1;
    flex-shrink: 0;
    outline: none;
    padding: .75rem
}

.k9ZCe1::placeholder {
    color: rgba(0,0,0,.26);
    padding-left: .1875rem
}

.k9ZCe1:-webkit-autofill,.k9ZCe1:-webkit-autofill:focus,.k9ZCe1:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 20px #fff;
    -webkit-box-shadow: inset 0 0 0 20px #fff
}

.k9ZCe1::-ms-clear {
    display: none
}

.Xio6l3 {
    background: #fff6f7
}

.Xio6l3:-webkit-autofill,.Xio6l3:-webkit-autofill:focus,.Xio6l3:-webkit-autofill:hover {
    box-shadow: inset 0 0 0 20px #fff6f7;
    -webkit-box-shadow: inset 0 0 0 20px #fff6f7
}

.gyHAVz {
    color: #ff424f;
    font-size: .75rem;
    margin: 0;
    min-height: 1rem;
    padding: .25rem 0 0
}

.gyHAVz:first-letter {
    text-transform: capitalize
}

.XLvIA8 {
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 .9375rem 0 .75rem
}

.ka2UrY {
    background: #fff6f7
}

._FBN_b {
    height: .75rem;
    width: 1.25rem
}

.LVtdNB {
    height: .625rem;
    padding-top: .375rem;
    width: 1.25rem
}

.N3b1qL {
    height: 1rem;
    width: 1rem
}

._2ZEaD {
    animation: _2ZEaD 1.5s infinite;
    background-color: #a4aaaa;
    background-image: linear-gradient(90deg,#a4aaaa,#000 25%,#a4aaaa 50%);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    transform: translateZ(0)
}

._2ZEaD .geCJg {
    background: #fff;
    isolation: isolate;
    mix-blend-mode: screen
}

._2ZEaD .M6lQx {
    background: #f1f0f0
}

@keyframes _2ZEaD {
    0% {
        background-position: 100% 0
    }

    to {
        background-position: -100% 0
    }
}

.DAQ0HT {
    height: 210px;
    width: 280px
}

.oUd9pl {
    height: 150px;
    margin-bottom: 12px;
    width: 100%
}

.Ep8HkL {
    height: 48px;
    width: 100%
}

.dcIflm,.pUKxeu {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.dcIflm {
    background-color: rgba(0,0,0,.4)
}

.pUKxeu {
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9000
}

.Pu_go4 {
    z-index: 1
}

.QhJwHj {
    opacity: 0
}

.JY8grS {
    transition: opacity .15s
}

.GM6ZE4,.JY8grS {
    opacity: 1
}

.mJHNtC {
    opacity: 0;
    transition: opacity .15s
}

.Xihr1e {
    transform: scale(.8)
}

.rkzMa6 {
    transition: transform .2s
}

.RJHJFb,.rkzMa6 {
    transform: scale(1)
}

.wxoI7B {
    transform: scale(.8);
    transition: transform .2s
}

.hniu7B {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 336px;
    overflow: hidden;
    padding: 24px 0;
    position: relative;
    width: 340px
}

.WtEpIG,.hniu7B {
    align-items: center
}

.WtEpIG {
    display: flex;
    justify-content: flex-end
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    .WtEpIG {
        height: 1px
    }

    .WtEpIG:after {
        content: "";
        font-size: 0;
        min-height: inherit
    }
}

.w4gSKt {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 9px rgba(0,0,0,.12);
    box-sizing: border-box;
    padding: 24px;
    width: 500px
}

.vqIgQM {
    color: rgba(0,0,0,.87);
    font-size: 1.25rem;
    font-weight: 400
}

.Spqall,.vqIgQM {
    margin-bottom: 16px
}

.Spqall {
    font-size: 1rem;
    line-height: 1.5rem
}

.q5mYdL {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px
}

.CtPyqA {
    color: #4080ee
}

.WtEpIG {
    height: 40px
}

.xcov1z {
    font-size: 1rem;
    min-width: 82px
}

._OiJKu,.yxXjB4 {
    align-items: center;
    display: flex
}

.yxXjB4 {
    justify-content: flex-end
}

@media (-ms-high-contrast:active),(-ms-high-contrast:none) {
    ._OiJKu,.yxXjB4 {
        height: 1px
    }

    ._OiJKu:after,.yxXjB4:after {
        content: "";
        font-size: 0;
        min-height: inherit
    }
}

.wTJsPU {
    background: #fff;
    border-radius: 2px;
    width: 440px
}

._OiJKu {
    border-bottom: 1px solid rgba(0,0,0,.09);
    color: rgba(0,0,0,.87);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 16px 24px
}

.xofU3F {
    color: rgba(0,0,0,.65);
    font-size: .875rem;
    line-height: 1rem;
    padding: 24px
}

.A992sz {
    color: rgba(0,0,0,.87);
    font-weight: 500;
    word-break: break-all
}

.yxXjB4 {
    border-top: 1px solid rgba(0,0,0,.09);
    padding: 12px 24px
}

.b7kM6N,.zwXUkg {
    align-items: center;
    display: flex;
    justify-content: center
}

.XqhqCI,.zwXUkg {
    flex-shrink: 0
}

.b7kM6N {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.26);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0,0,0,.87);
    font-size: .875rem;
    height: 40px;
    outline: none;
    padding: 0 2px;
    width: 100%
}

.b7kM6N:hover {
    background-color: rgba(0,0,0,.02)
}

.b7kM6N:active {
    background-color: rgba(0,0,0,.05)
}

.b7kM6N:disabled {
    border-color: rgba(0,0,0,.09);
    color: rgba(0,0,0,.26)
}

.b7kM6N:disabled .XqhqCI {
    opacity: .26
}

.KIySnv {
    padding-right: 8px
}

.kSH__G {
    font-weight: 400;
    padding-right: 22px
}

.zwXUkg {
    border-radius: 1px;
    height: 36px;
    width: 36px
}

.XqhqCI {
    height: 22px;
    width: 22px
}

.ROX63P {
    align-items: center;
    flex: 1
}

.social-white-background {
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/7ffa33c1e9518f30.png)
}

.social-white-apple-black-png {
    background-position: 5.1020408163265305% 6.024096385542169%;
    background-size: 406.25% 359.375%
}

.social-white-apple-png {
    background-position: 53.06122448979592% 6.024096385542169%;
    background-size: 406.25% 359.375%
}

.social-white-fb-blue-png {
    background-position: 5.555555555555555% 62.666666666666664%;
    background-size: 325% 287.5%
}

.social-white-fb-png {
    background-position: 52.38095238095238% 52.22222222222222%;
    background-size: 520% 460%
}

.social-white-google-disabled-png {
    background-position: 80.35714285714286% 48.45360824742268%;
    background-size: 722.2222222222222% 638.8888888888889%
}

.social-white-google-png {
    background-position: 83.92857142857143% 5.154639175257732%;
    background-size: 722.2222222222222% 638.8888888888889%
}

.social-white-whatsapp-png {
    background-position: 100% 100%;
    background-size: 325% 287.5%
}

.Oh4AAv {
    align-items: center
}

.Oh4AAv,.WwkuJx,.vGSaeh {
    display: flex
}

.Oh4AAv {
    flex-direction: column;
    justify-content: center
}

.WwkuJx,.vGSaeh {
    justify-content: space-between
}

.WwkuJx {
    width: 100%
}

.bp7sPl {
    min-height: 482px;
}

.YwmYyw {
    min-height: 335px
}

.DbSAZx {
    margin-bottom: 25px
}

.vGSaeh {
    margin: 10px 0
}

.hww4XZ {
    margin-bottom: 10px
}

.biFZbP {
    margin-bottom: 14px
}

.hZ5QQO {
    font-size: .75rem
}

.hZ5QQO,.hZ5QQO:active,.hZ5QQO:hover,.hZ5QQO:visited {
    color: #05a
}

.awPXwj {
    text-transform: uppercase
}

.eADVqX {
    flex: 1;
    margin: 5px
}
