.StmtxQ {
    margin: 30px auto 0;
    max-width: 1074px;
    min-height: 500px;
    min-width: 37.5rem
}

@media(min-width: 37.5rem) {
    .fsyUWD {
        background:#fff;
        padding-bottom: 160px
    }
}

.K2V7a3 {
    display: block;
    padding-top: 90px;
    margin: 0 auto
}

@media(min-width: 37.5rem) {
    .K2V7a3 {
        padding-top:50px;
        width: 128px;
        height: 128px
    }
}

.YG3stL {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0,0,0,.65);
    margin-top: 25px
}

@media(min-width: 37.5rem) {
    .YG3stL {
        width:500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        font-size: 20px;
        line-height: 24px;
        color: rgba(0,0,0,.87)
    }
}

.lpUdXW {
    text-align: center;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    line-height: 20px;
    color: rgba(0,0,0,.54);
    width: 272px
}

@media(min-width: 37.5rem) {
    .lpUdXW {
        width:380px;
        margin-top: 40px;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0,0,0,.54)
    }
}

._2DjAwJ .container {
    margin-top: -2.75rem
}

._2DjAwJ .zu5X\+8 {
    display: none
}

.E\+Rd6q .container {
    margin-top: 1.75rem
}

.Ekln7a {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid rgba(0,0,0,.09);
    display: flex;
    align-items: center;
    padding: 12px;
    z-index: 10;
    background-color: #fff
}

@media(min-width: 37.5rem) {
    .Ekln7a {
        position:relative;
        height: 84px;
        padding: 0 30px;
        margin-top: 30px
    }
}

.YkQuqH {
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.YkQuqH svg {
    width: 21px;
    height: 18px;
    fill: #ee4d2d
}

@media(min-width: 37.5rem) {
    .YkQuqH svg {
        fill:rgba(0,0,0,.4)
    }
}

.DaRrTN {
    flex: 1;
    margin-left: 16px;
    font-size: 20px;
    color: rgba(0,0,0,.87)
}

@media(min-width: 37.5rem) {
    .DaRrTN {
        font-size:22px
    }
}

.CRnlWi {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto
}

.CRnlWi .container {
    flex: 1
}

.CRnlWi .\+CPdRy {
    flex: none;
    margin: 1rem .75rem;
    text-align: center;
    background-color: #fff;
    border-radius: 4px
}

.CRnlWi .\+CPdRy .TbVmuK {
    padding-bottom: 2rem
}

.CRnlWi .\+CPdRy .TbVmuK .ZPY2Mr {
    padding-top: 1.875rem;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.65)
}

.CRnlWi .\+CPdRy .TbVmuK .zMNpZe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .625rem;
    font-style: normal;
    font-weight: 500
}

.CRnlWi .\+CPdRy .TbVmuK .zMNpZe .xhAIyX {
    font-size: 20px;
    line-height: 24px;
    color: #ee4d2d
}

.CRnlWi .\+CPdRy .TbVmuK .zMNpZe .h2fKrd {
    margin-left: 8px;
    font-size: 36px;
    line-height: 40px;
    color: #ee4d2d
}

.CRnlWi .\+CPdRy .avSmdX {
    margin: 0 .75rem;
    border-top: 1px solid rgba(0,0,0,.09);
    transform: scaleY(.5);
    box-shadow: 0 .5px 0 rgba(0,0,0,.09)
}

.CRnlWi .\+CPdRy .HWUw44 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem .75rem
}

.CRnlWi .\+CPdRy .HWUw44 .yxGVYU {
    flex: auto;
    margin-right: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: rgba(0,0,0,.54)
}

.CRnlWi .\+CPdRy .HWUw44 .Kpf-0b {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.CRnlWi .\+CPdRy .HWUw44 .Kpf-0b .joEE8x {
    width: 20px;
    height: 18px
}

.CRnlWi .\+CPdRy .HWUw44 .Kpf-0b .BkuhU- {
    margin-left: .5625rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.87)
}

.CRnlWi .nghazP {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    padding: .5rem;
    background: #fff
}

.CRnlWi .nghazP ._1XJckz {
    padding: .75rem 1rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #ee4d2d;
    border-radius: 2px
}

.CRnlWi .nghazP ._1XJckz:hover {
    opacity: .65
}

._3sjFp {
    border-radius: .125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
    outline: none;
    flex: 0 0 auto;
    position: relative
}

._3sjFp:active:before {
    content: "";
    background-color: rgba(0,0,0,.05);
    background-color: var(--nc-util-pressed,rgba(0,0,0,.05));
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0
}

.lJMau {
    height: 2.75rem
}

._3zn07 {
    height: 2.25rem;
    min-width: 4rem
}

._18F8b {
    height: 1.75rem;
    min-width: 4rem;
    padding: 0 .75rem
}

.uxSdp {
    height: 1.25rem;
    min-width: 3.25rem;
    padding: 0 .5rem
}

.xCn81 {
    background: transparent
}

.TOjHY.AHhqR {
    color: #fff;
    border: .0625rem solid transparent;
    background: #ee4d2d;
    background: var(--nc-primary,#ee4d2d)
}

.TOjHY.xCn81 {
    color: #ee4d2d;
    color: var(--nc-primary,#ee4d2d);
    border: .0625rem solid #ee4d2d;
    border: .0625rem solid var(--nc-primary,#ee4d2d)
}

._1-4Xn.xCn81 {
    color: rgba(0,0,0,.87);
    color: var(--nc-text-primary,rgba(0,0,0,.87));
    border: .0625rem solid rgba(0,0,0,.26)
}

._1qQAl.xCn81 {
    color: #fff;
    border: .0625rem solid #fff
}

._3sjFp:disabled {
    color: rgba(0,0,0,.26);
    color: var(--nc-util-disabled,rgba(0,0,0,.26))
}

._3sjFp:disabled.xCn81 {
    border-color: rgba(0,0,0,.09);
    border-color: var(--nc-util-line,rgba(0,0,0,.09))
}

._3sjFp:disabled._1qQAl.xCn81 {
    border-color: hsla(0,0%,100%,.54);
    color: hsla(0,0%,100%,.4)
}

._3sjFp:disabled.TOjHY.AHhqR {
    background: rgba(0,0,0,.09)
}

._2HCeY {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

._19rDu {
    margin-left: .25rem
}

.MLjMtm {
    flex: none;
    text-align: right;
    padding: 30px;
    width: 1074px;
    max-height: 1074px;
    min-width: 1074px;
    margin: 30px auto 0;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px;
    margin-bottom: 20px;
}

.MLjMtm ._1JXfq0 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(0,0,0,.09)
}

.MLjMtm ._1JXfq0 .xEtGT8 {
    display: inline-block;
    padding: 10px
}

.MLjMtm ._1JXfq0 .xEtGT8:hover {
    cursor: pointer
}

.MLjMtm ._1JXfq0 .Yw8AP7 {
    display: inline-block;
    width: 20px;
    line-height: 0
}

.MLjMtm ._1JXfq0 .in1c11 {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 500
}

.MLjMtm .PqkxPv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.09)
}

.MLjMtm .PqkxPv .sFaOpG {
    flex: auto;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0,0,0,.54)
}

.MLjMtm .PqkxPv .KOGs71 {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.MLjMtm .PqkxPv .KOGs71 ._82X90J {
    width: 25px;
    height: 22px;
    margin-right: 10px
}

.MLjMtm .PqkxPv .KOGs71 .iGfRCp {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.87)
}

.MLjMtm .IF2Mgv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px
}

.MLjMtm .IF2Mgv .fjn3Do {
    margin-right: 65px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0,0,0,.65)
}

.MLjMtm .IF2Mgv .tm4IS3 .ce\+lYl {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ee4d2d
}

.MLjMtm .IF2Mgv .tm4IS3 .S2dTSp {
    margin-left: 8px;
    font-size: 36px;
    line-height: 40px;
    color: #ee4d2d
}

.MLjMtm .YDcboE {
    margin-top: 30px
}

.MLjMtm .YDcboE .n9\+qdW {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background: #ee4d2d;
    border-radius: 2px
}

.MLjMtm .YDcboE .n9\+qdW:hover {
    opacity: .65
}

._8BtX6 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.4);
    background: var(--nc-util-mask,rgba(0,0,0,.4));
    padding: 0 2.5rem;
    padding: 0 var(--ns-g,2.5rem)
}

._1EXGi {
    background: #fff;
    box-sizing: border-box;
    padding: 2.5rem;
    padding: var(--ns-g,2.5rem);
    border-radius: .25rem;
    border-radius: var(--nr-overlay,.25rem);
    text-align: center
}

.B5Zkp {
    min-width: 7.5rem;
    max-width: 18.75rem;
    padding: 1.25rem;
    padding: var(--ns-e,1.25rem)
}

._1C-Oy {
    color: rgba(0,0,0,.87);
    color: var(--nc-text-primary,rgba(0,0,0,.87))
}

._1C-Oy,._1NM_1 {
    margin-top: .5rem;
    margin-top: var(--ns-b,.5rem)
}

._1NM_1 {
    color: rgba(0,0,0,.54);
    color: var(--nc-text-tertiary,rgba(0,0,0,.54))
}

._2yNQg {
    color: #ee4d2d;
    color: var(--nc-primary,#ee4d2d);
    display: inline-flex;
    align-items: center;
    width: 1.25em;
    height: 1.25em
}

.YrpgA {
    font-size: 2rem
}

._3G4Hy {
    font-size: 1rem
}

.s6Zx9 {
    display: block;
    background: currentColor;
    border-radius: 99px;
    width: .25em;
    height: .25em;
    margin-right: .25em;
    margin-bottom: -.25em;
    animation: _2yNQg .56s linear infinite;
    transform: translateY(.0001%)
}

.s6Zx9:nth-child(2) {
    animation-delay: -.14s
}

.s6Zx9:nth-child(3) {
    animation-delay: -.28s;
    margin-right: 0
}

@keyframes _2yNQg {
    50% {
        transform: translateY(-.25em)
    }
}

